header{
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px;
}
header>img{
    border-radius: 50%;
}

main{
    margin: 30px auto;
    padding: 15px;
    line-height: 1.7;
    max-width: 700px;
}

footer{
    text-align: center;
    background-color: #f1f1f1;
    padding: 40px;
    font-size: 12px;
}
